<!DOCTYPE html>
<html>
    <head>
        <title>Hello Spring Boot!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>

        <style>
pre {
    padding-left: 100px;
}            
        </style>
        <h1>D4M REST Server</h1>
        
        <p>This server has several endpoints to help manage, ingest and query 
            data using the D4M schema.</p>
        
        <p>Every endpoint needs <i>user</i> and <i>password</i> parameters.</p>

        <h2>Prototype</h2>
        
        <p>This server is a prototype. Your password is sent, in the clear, over
            the internet.</p>

        <h2>Response Types</h2>
        
        <h3>JSON Respone</h3>
  
        Every endpoint response contains at least the following fields:
        
        <ul>
            <li>message: Some message applicable to your request as a String.</li>
            <li>hostName: The hostname that handled your request as a String.</li>
            <li>hostIp: The IP address that handled your request as a String.</li>
            <li>lamportClock: A continously increasing integer number as a Long.</li>
            <li>wallClock: The wall time of the server handling your request as a Long.</li>
        </ul>

        <h3>Exception Response</h3>
        
        When an exception occurs during the processing of a request, the 
        stacktrace is returned as JSON. Also a message field contains the 
        error text.
        
        Please provide feedback. How would you want error respones from the
        server?
        
        <p>This server is a protoype. The error message might contain sensitive
            information. The stacktrace might contain sensitive information. 
            Below is an example exception message.</p>
        
        <pre>
{
  "hostName":"C02JR1U1DKQ5.local"
  ,"hostIp":"10.211.55.1"
  ,"message":"Unknown table [Tedge]."
  ,"throwable":{
    "cause":null
    ,"stackTrace":[{
      "methodName":"getTableId"
      ,"fileName":"Tables.java"
      ,"lineNumber":66
      ,"className":"org.apache.accumulo.core.client.impl.Tables"
      ...}]
     ,"tableName":"Tedge"
    ,"message":"Table Tedge does not exist","localizedMessage":"Table Tedge does not exist"
    ,"suppressed":[]
  }
  ,"wallClock":1403626592510
  ,"fields":{}
  ,"lamportClock":1
}
        </pre>
        
        <h2>Endpoints</h2>
        
        <p>Most endpoints need <i>user</i> and <i>password</i> parameters.</p>

        <!-- =============================================== -->
        <!-- =============================================== -->
        <!-- FIELD SETS -->
        <!-- =============================================== -->
        <!-- =============================================== -->

        <h3>Field Sets</h3>
        
        Field Sets control what information is returned from the Tedge table.
        For example, if no Field Set is specified, then the information of
        the 'rec01' record might be:
        
        <pre>
rec01 :county|133 []    1
rec01 :cousub|00000 []    1
rec01 :estimatesbase2010|756 []    1
rec01 :name|Addison town []    1
rec01 :place|00484 []    1
rec01 :popestimate2010|753 []    1        
        </pre>
        
        However, your query might only need to see two fields, county and 
        place, to reduce the response size. 

        <pre>
rec01 :county|133 []    1
rec01 :place|00484 []    1
        </pre>
        
        You can accomplish this reduction by creating a fieldset then specifying
        its name using using the /record/fetch and /record/grep endpoints. 
        Check the documentation to see if other endpoints support Field Sets.
        
        <h4>/fieldset/create</h4>
        
        If enough Field Sets are created, you will run out of memory since
        a HashMap is the backing store. But it would need to be thousands of
        Field Sets, I think.
        
        Field Sets are stored in RAM. They are not persisted to disk. It's OK
        to simply create (or re-create) every time they are used. There is 
        very little performance penalty.
        
        There is no security related to Field Set names. Nor any enforced
        naming convention. I suggest each user use a namespace to 'protect'
        their names. A good Field Set name might simply be a purpose-specific
        UUID with the Field Set deleted after use.
        
        The field list can include regular expressions like "n*".


        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/fieldset/create?name=medined:mySet&amp;list=name,place"><pre>
http://localhost:11000/fieldset/create?
name=medined:mySet&amp;
list=name,place
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message":"List created [medined:myList]."
  ,"throwable" : null
  ,"wallClock" : 1403618279705
  , "lamportClock":3
}
            </pre></dd>
        </dl>

        <h4>/fieldset/list</h4>

        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/fieldset/list"><pre>
http://localhost:11000/fieldset/list
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message" : null
  ,"throwable" : null
  ,"lists":{"medined:myList":"name,place"}
  ,"wallClock" : 1403618279705
  , "lamportClock":3
}
            </pre></dd>
        </dl>

        <h4>/fieldset/clear</h4>

        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/fieldset/clear"><pre>
http://localhost:11000/fieldset/clear
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message" : null
  ,"throwable" : null
  ,"lists":{}
  ,"wallClock" : 1403618279705
  , "lamportClock":3
}
            </pre></dd>
        </dl>

        <h4>/fieldset/delete</h4>
        
        http://localhost:11000/fieldset/delete?name=aa
        
        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/fieldset/delete?name=medined:myList"><pre>
http://localhost:11000/fieldset/delete?name=medined:myList
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message":"List deleted [medined:myList]."
  ,"throwable" : null
  ,"lists":{}
  ,"wallClock" : 1403618279705
  , "lamportClock":3
}
            </pre></dd>
        </dl>

        <!-- =============================================== -->
        <!-- =============================================== -->
        <!-- TABLES -->
        <!-- =============================================== -->
        <!-- =============================================== -->

        <h3>Tables</h3>
        
        <h4>/tables/create</h4>
        
        This endpoint returns "tables created" even if the tables already 
        existed.
        
        D4M uses a set of collaborating tables inside Accumulo. A naming 
        convention is used when creating them. For example:
        
        * T [baseTableName]
        * T [baseTableName] Degree
        
        You can create different sets of D4M tables using the 
        <i>baseTableName</i> parameter. By default, baseTableName is 'edge'.
        
        If <i>addSplitsForSha1</i> is true, the Tedge and TedgeText tables
        are presplit into 15 tablets - one for each hexadecimal character. This
        minor optimization helps even when ingesting a few million entries for 
        development.
        
        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/tables/create?user=root&amp;password=secret&amp;baseTableName=edge&amp;addSplitsForSha1=true"><pre>
http://localhost:11000/tables/create?
user=root&amp;
password=secret&amp;
baseTableName=edge&amp;
addSplitsForSha1=true
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message" : "tables created."
  ,"throwable" : null
  ,"wallClock" : 1403618279705
  , "lamportClock":3
}
            </pre></dd>
        </dl>
        
        <h4>/tables/delete</h4>
        
        This endpoint returns "tables deleted" even if the tables did not 
        exist.
        
        <b>This endpoint has no undelete option. Once gone, this is no way to
        retrieve information.</b>
                
        You can delete different sets of D4M tables using the 
        <i>baseTableName</i> parameter. By default, baseTableName is 'edge'.
        
        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/tables/delete?user=root&amp;password=secret&amp;baseTableName=edge"><pre>
http://localhost:11000/tables/delete?
user=root&amp;
password=secret&amp;
baseTableName=edge
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message" : "tables deleted."
  ,"throwable" : null
  ,"wallClock" : 1403618279705
  , "lamportClock":3
}
            </pre></dd>
        </dl>
        
        <h4>/tables/list</h4>
        
        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/tables/list?user=root&amp;password=secret"><pre>
http://localhost:11000/tables/list?
user=root&amp;
password=secret
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName" : "C02JR1U1DKQ5.local"
  ,"hostIp" : "10.211.55.1"
  ,"message" : null
  ,"throwable" : null
  ,"wallClock" : 1403482501038
  ,"tables" : {
    "!METADATA" : "!0"
    ,"Tedge" : "m"
    ,"TedgeDegree" : "o"
    ,"TedgeMetadata" : "p"
    ,"TedgeText" : "q"
    ,"TedgeTranspose" : "n"
    ,"trace" : "1"
  }
  ,"lamportClock" : 1
}
            </pre></dd>
        </dl>
        
        <!-- =============================================== -->
        <!-- =============================================== -->
        <!-- RECORDS -->
        <!-- =============================================== -->
        <!-- =============================================== -->

        <h3>Records</h3>
        
        <h4>/records/fetch</h4>
        
        This endpoint fetches the entries with a common <i>row</i>.

        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/record/fetch?user=root&amp;password=secret&amp;row=004bec11d5c47d0c1fa06c54b958ba1416d867b8"><pre>
http://localhost:11000/record/fetch?
user=root&amp;
password=secret&amp;
row=004bec11d5c47d0c1fa06c54b958ba1416d867b8
</pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName":"C02JR1U1DKQ5.local"
  ,"hostIp":"10.211.55.1"
  ,"message":null
  ,"throwable":null
  ,"wallClock":1403633622543
  ,"fields":{
    "census2010pop":"|758"
    ,"concit":"|00000"
    ,"county":"|133"
    ...
  }
  ,"lamportClock":1
}
            </pre></dd>
        </dl>        
        
        <h4>/records/grep</h4>
        
        This endpoint searches the Transpose table by exact string matching. 
        It searches both the Key and Value for the string. This is not an
        efficient search for the D4M schema but performance is not yet a 
        consideration for this prototype.
        
        <i>baseTableName</i> - Selects the set of D4M tables to use. The default
        value is 'edge'.
        
        <i>numQueryThreads</i> - The number of threads used by the BatchScanner.
        The default value is 10.
        
        <i>maxRecords</i> - The maximum number of threads to return. The
        default value is 10,000. A List is used to store the record results. 
        This is memory intensive and too many search result will cause an 
        Out of Memory exception.
        
        <i>user</i> - The user name used to connect to Accumulo.
        
        <i>password</i> - The password used to connect to Accumulo.

        <i>authorizationList</i> - The list of authorizations used for this
        queery.

        <i>target</i> - The exact string to search for.
        
        <dl>
            <dt>URL</dt>
            <dd><a target="_blank" href="http://localhost:11000/record/grep?user=root&amp;password=secret&amp;maxRecords=5&amp;target=NJ"><pre>
http://localhost:11000/record/grep?
user=root&amp;
password=secret&amp;
maxRecords=5;
target=NJ
            </pre></a></dd>
            <dt>Output</dt>
            <dd><pre>
{
  "hostName":"C02JR1U1DKQ5.local"
  ,"hostIp":"10.211.55.1"
  ,"message":null
  ,"throwable":null
  ,"wallClock":1403633622543
  ,"records":[
    {"fn":"state","fv":"NJ","vis":"","id":"0017336b129adf23a1b3fd2615ad6ef3c7fc88a1","ts":1403658298013}
    ,{"fn":"state","fv":"NJ","vis":"","id":"004b62c236eb22646f13f8e4b9d9d601d3d6f3f7","ts":1403658302782}
    ,{"fn":"state","fv":"NJ","vis":"","id":"0055c47a0671aeff68427e6bdd0b644228cffd81","ts":1403658299251}
    ,{"fn":"state","fv":"NJ","vis":"","id":"005e6afe0e2efba40649e4747cd73186bcc2ad11","ts":1403658295401}
    ,{"fn":"state","fv":"NJ","vis":"","id":"006258bd5c99440e124f941c70889b3567a13be3","ts":1403658303803}
    ,{"fn":"state","fv":"NJ","vis":"","id":"00660880bbfa10cd220d77b966628d52fd9e1b6d","ts":1403658298567}
  ],
  ,"lamportClock":1
}
            </pre></dd>
        </dl>

        <!-- =============================================== -->
        <!-- =============================================== -->
        <!-- MANAGEMENT -->
        <!-- =============================================== -->
        <!-- =============================================== -->

        <h3>Management</h3>
        
        <h4>/dump</h4>
        <a target="_blank" href="http://localhost:11000/dump"><pre>http://localhost:11000/dump</pre></a>        

        <h4>/env</h4>
        <a target="_blank" href="http://localhost:11000/env"><pre>http://localhost:11000/env</pre></a>        

        <h4>/health</h4>
        <a target="_blank" href="http://localhost:11000/health"><pre>http://localhost:11000/health</pre></a>        

        <h4>/metrics</h4>
        <a target="_blank" href="http://localhost:11000/metrics"><pre>http://localhost:11000/metrics</pre></a>        

        <h4>/trace</h4>
        <a target="_blank" href="http://localhost:11000/trace"><pre>http://localhost:11000/trace</pre></a>        
        
        <p>Powered by <a target="_blank" href="http://projects.spring.io/spring-boot/">Spring Boot</a>.</p>
        
    </body>
</html>
